{% extends "base.twig" %}
{% set pageTitle = "Kill " ~ killID %}
{% set title = "Kill" %}
{% set fullWidth = false %}
{% set showDate = false %}

{% block meta %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sco.js/1.1.0/css/scojs.min.css" integrity="sha256-X/S6bj3zqdJs4v8yl2OWoacgvpGRmjUJtjdreo3aEi8=" crossorigin="anonymous" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-dateFormat/1.0/jquery.dateFormat.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sco.js/1.1.0/js/sco.tooltip.js" integrity="sha256-D1cXcX/XEN8qmiAakjJ3d54Qq93MF4+WtdsTkSFZuLo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/kill.js"></script>
    <script>
        generateKillData({{ killID }});
        var showingComments = false;
        showComments = function() {
            var element = document.getElementsByName("comments");

            if(showingComments == false) {
                $("#comments").removeClass("hidden");
                showingComments = true;
            } else {
                $("#comments").addClass("hidden");
                showingComments = false
            }
        }
    </script>
{% endblock %}

{% block rightContent %}
    <div id="kl-detail-left">
        <div id="topVictimInfo"></div>
        <div id="fittingWheel"></div>
        <div id="itemDetail"></div>
        <div id="lossValueDetail"></div>
    </div>
    <div id="kl-detail-right">
        <div class="involvedparties"><a href="#isso-thread" style="color: #7F7F7F; font-size: 12px; font-weight: bold;">:</a>
            <a href="javascript:showComments();" style="float: right; margin-right: 10px;">Show/Hide</a>
        </div>
        <div id="comments" class="hidden">
            <section id="isso-thread"></section>
            <br/>
        </div>
        <div id="involvedPartiesInfo"></div>
        <div id="InvolvedPartiesList"></div>
    </div>
{% endblock %}

{% block leftContent %}
    {% include "/global/navigationMenu.twig" %}
    <div id="points"></div>
    <div id="topDamageAndFinal"></div>
{% endblock %}